<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Home Page</title>
  <style>
    body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  margin: 50px 0;
  font-size: 36px;
}

p {
  font-size: 18px;
}

.app-link {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.auth-buttons {
  margin-top: 50px;
}

.auth-button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

  </style>
</head>
<body>
  <h1>Welcome to Do-It</h1>
  <p>This is a simple to-do app built with you in mind. Say goodbye to forgetting to buy milk on your way back from 
    work and just do it
  </p>
  <p>Start managing your tasks effectively.</p>
  <div class="auth-buttons">
    <a href="/login" class="auth-button">Log In</a>
    <a href="/signup" class="auth-button">Sign Up</a>
  </div>
  <%- include('partials/footer') %>
