<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

h1 {
  font-size: 20px;
  margin-top: 20px;
}

h2 {
  margin: 30px 0;
  font-size: 28px;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  text-align: left;
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #007BFF;
}
</style>
  <title>Create Task</title>
</head>
<body>
  <h1><a href="/"></a>Do It</a></h1>
  <h2>Create Task</h2>
  <form action="/tasks/tasks_create" method="POST">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required></textarea>
    </div>
    <button type="submit">Add Task</button>
  </form>
</body>
</html>
